@font-face {
  font-family: 'cobrr2';
  src: url('../font/cobrr2.eot?80009894');
  src: url('../font/cobrr2.eot?80009894#iefix') format('embedded-opentype'),
       url('../font/cobrr2.woff2?80009894') format('woff2'),
       url('../font/cobrr2.woff?80009894') format('woff'),
       url('../font/cobrr2.ttf?80009894') format('truetype'),
       url('../font/cobrr2.svg?80009894#cobrr2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cobrr2';
    src: url('../font/cobrr2.svg?80009894#cobrr2') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cobrr2";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-phone-1:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-shekel:before { content: '\f20b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
